*{margin: 0;padding: 0;}
.modal{width: 100%; height: 100%; position: fixed; 
		background: rgba(0,0,0,.3);
		left: 0;top: 0;}
.openBtn{width:100px; height:40px; border:1px solid #ccc; 
		border-radius:5px; display:block; 
		margin:100px auto}
.BoxBtn{display: none;width:500px;height:250px; 
		background:#fff;position:absolute;
		top:0;left:0; z-index:20;}
.BoxBtn input{ height:30px; width:200px; border:1px solid #ccc;}
.BoxBtn p{ padding-left:50px; padding-top:20px;}
.BoxBtn h4{height:40px; line-height:40px; text-indent:1em; 
			background:#ccc;cursor:move}
.BoxBtn #sendBtn{width:100px; height:30px;border:1px solid #ccc; 
					margin-left:150px;}
.BoxBtn #closeBtn{width:20px; text-align:center; 
					line-height:20px; height:20px; position:absolute; 
					top:10px; right:8px; color:#fff;}
.BoxBtn textarea{width: 300px;height: 60px;margin-left: 15px;}
.BoxBtn #username{width: 300px;}
.ac{display: none;}
ul{width:50px;height: 50px;border: 1px solid black;
	position: absolute;top:20px;left: 150px;
	background: #eee;list-style: none;}
li{border: 1px solid #eee;height: 20px;cursor: pointer;}